- name: Tang Server Setup & Security
  hosts: tang_server
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600 

    - name: Ensure group "_tang" exists
      group:
        name: _tang
        state: present

    - name: Ensure user "_tang" exists
      user:
        name: _tang
        group: _tang
        system: yes
        shell: /usr/sbin/nologin
        create_home: no
        state: present

    - name: Restore active keys 
      copy:
        src: ../files/tang-keys/
        dest: /var/lib/tang/
        owner: _tang
        group: _tang
        mode: '0440'

    - name: Install tang package
      apt:
        name: tang
        state: present

    - name: Verify key store settings 
      file:
        path: /var/lib/tang
        state: directory
        owner: _tang
        group: _tang
        mode: '0700'

    - name: Install ufw package
      apt:
        name: ufw
        state: present

    - name: Allow SSH
      ufw:
        rule: allow
        src: '{{ tang_subnet }}'
        port: '22'
        proto: tcp
        comment: 'Allow access only from specific subnet'

    - name: Allow HTTP
      ufw:
        rule: allow
        src: "192.168.13.205"
        port: '80'
        proto: tcp
        comment: 'Tang Network Binding'

    - name: Activate firewall
      ufw:
        state: enabled
        policy: deny 

  handlers:
    - name: Restart tang socket
      systemd:
        name: tangd.socket
        state: restarted
        enabled: yes
